<h1>Show Wallet</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @wallet.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.wallet_path(@conn, :edit, @wallet) %></span> |
<span><%= link "Back", to: Routes.wallet_path(@conn, :index) %></span>
