<section>
  <div class="container">
    <ul>
      <li>
        <%= link "My wallets" , to: Routes.wallet_path(@conn, :index), class: "waves-effect blue darken-4 btn-large" %>
      </li>
      
    </ul>
  </div>
</section>
