<section class="phx-hero">
  <div class="main-hero">
    <div class="container">
        <div class="row">
          <div class="col s4"></div>
          <div class="col s4">
            <%= link "Sign in with Github", to: Routes.auth_path(@conn, :request, "github"), class: "waves-effect blue darken-4 btn-large" %>
          </div>
          <div class="col s4"></div>
        </div>
      </div>
  </div>
</section>

