<main class="container">
  <%= unless is_nil(get_flash(@conn, :error)) do %>
    <script>
      M.toast({html: '<%=get_flash(@conn, :error) %>', classes: 'red accent-4'})
    </script>
  <% end %>
  <%= unless is_nil(get_flash(@conn, :info)) do %>
    <script>
      M.toast({html: '<%=get_flash(@conn, :info) %>', classes: 'teal accent-4'})
    </script>
  <% end %>
  <%= @inner_content %>
</main>
