<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag() %>
  <%= live_title_tag assigns[:page_title] || "CryptoDashboard" , suffix: " · Phoenix Framework" %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
  <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
  <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <header>
    <%= if @conn.assigns[:user] do %>
    <ul id="dropdown1" class="dropdown-content">
      <%= for wallet <- @conn.assigns[:wallets] do %>
        <li>
          <%= link wallet.name , to: Routes.asset_path(@conn, :index, %{:wallet_id => wallet.id}) %>
        </li>
      <% end %>
    </ul>
    <% end %>
    <nav class="grey darken-3">
      <div class="nav-wrapper">
        <%= if @conn.assigns[:user] do %>
        <%= link "Crypto Dashboard" , to: Routes.page_path(@conn, :home), class: "brand-logo" %>
        <% else %>
        <%= link "Crypto Dashboard" , to: Routes.page_path(@conn, :index), class: "brand-logo" %>
        <% end %>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <%= if @conn.assigns[:user] do %>

            <%= if (@conn.assigns[:new_wallet] == nil and Enum.count(@conn.assigns[:wallets]) < 1) do%>
            <li id="walletDiscovery">
              <%= link "New wallet" , to: Routes.wallet_path(@conn, :new) %>
            </li>
            <% else %>
              <li>
                <%= link "My wallets" , to: Routes.wallet_path(@conn, :index) %>
              </li>
            <% end %>
          <li>
            <a class="dropdown-trigger" href="#!" data-target="dropdown1"><%= if @conn.assigns[:wallet], do: @conn.assigns[:wallet].name, else: "Wallets" %><i class="material-icons right">arrow_drop_down</i></a></li>
          <li>
            <%= link "Sign Out" , to: Routes.auth_path(@conn, :signout) %>
          </li>
          <% else %>
          <li>
            <%= link "Sign in with Github" , to: Routes.auth_path(@conn, :request, "github" ) %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
  <br />

  <div class="tap-target blue darken-4" data-target="walletDiscovery">
    <div class="tap-target-content wallet-discovery">
      <h5>Create a new wallet</h5>
      <p>Looks like you don't have a wallet yet. Create a new wallet to start the fun.</p>
    </div>
  </div>

  <%= @inner_content %>
</body>

</html>
